h3{text-align: center;}
h2{text-align: center;
}
h3{
    text-align: center;}
h1{text-align: center;
    color:brown;
}

img{text-align: center;

}

button{text-align: center;
        color: lime;    
}
